@tailwind base;
@tailwind components;
@tailwind utilities;

.can-move-carousel .item-carousel {
    /* -webkit-animation: moveCarousel 10s linear infinite;
    animation: moveCarousel 10s linear infinite; */
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    scroll-snap-align: center;
}
.snap-carousel {
    /* scroll-snap-type: x mandatory; */
    transition: all 1.5s;
}

.can-move-carousel img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    aspect-ratio: 1/1;
    object-fit: fill;
}
.can-move-carousel::-webkit-scrollbar {
    /* scroll-behavior: smooth; */
    /* scroll-snap-type: x mandatory */
    display: none;
}

.overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.overlay-show {
    display: block;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

button:disabled.is-loading::after,
.loading {
  content: "";
  width: 18px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: inline-block;
  animation: isLoading 1.3s 0.3s linear infinite;
  margin-inline: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-right: rgb(21, 138, 233) 2px solid;
  border-top: rgb(21, 138, 233) 2px solid;
}

button:disabled.is-loading {
  cursor: not-allowed;
  background-color: #dadada;
}
button:disabled.is-loading:hover {
    cursor: not-allowed;
    background-color: #dadada ;
  }

@keyframes isLoading {
  100% {
    transform: rotate(360deg);
  }
}
